@model Diseniandote.Models.Produccion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.costoDisenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoDisenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoManoxTiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoManoxTiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentajeGanancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentajeGanancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotalMateriales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotalMateriales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProduccion.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProduccion.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
