@model Diseniandote.Models.DetallePedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetallePedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedido.numTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.numTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDetallePedido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
