@model IEnumerable<Diseniandote.Models.DetalleProduccion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subCosto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produccion.idProduccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subCosto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produccion.idProduccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetalleProduccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetalleProduccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetalleProduccion })
        </td>
    </tr>
}

</table>
